@model Aiursoft.Blog.Models.SettingsViewModels.IndexViewModel
<!--Details zone-->
<div class="card mb-4">
    <div class="card-body">
        <h6 class="mb-3">Sponsored</h6>
        <p><strong>It might be time to visit Iceland.</strong> Iceland is so chill, and everything looks cool here. Also, we heard the people are pretty nice. What are you waiting for?</p>
        <button class="btn btn-outline-primary btn-sm">Buy a ticket</button>

        <p><strong>It might be time to visit Iceland.</strong> Iceland is so chill, and everything looks cool here. Also, we heard the people are pretty nice. What are you waiting for?</p>
        <button class="btn btn-outline-primary btn-sm">Buy a ticket</button>

        <p><strong>It might be time to visit Iceland.</strong> Iceland is so chill, and everything looks cool here. Also, we heard the people are pretty nice. What are you waiting for?</p>
        <button class="btn btn-outline-primary btn-sm">Buy a ticket</button>

        <p><strong>It might be time to visit Iceland.</strong> Iceland is so chill, and everything looks cool here. Also, we heard the people are pretty nice. What are you waiting for?</p>
        <button class="btn btn-outline-primary btn-sm">Buy a ticket</button>
    </div>
</div>