@model Aiursoft.Blog.Models.SettingsViewModels.ProfileViewModel
<!--Details zone-->
<div class="card mb-4">
    <div class="card-body">
        <h6 class="mb-3">Profile</h6>
        <button class="btn btn-outline-primary btn-sm">Buy a ticket</button>
    </div>
</div>