@model Aiursoft.Blog.Models.MeViewModels.IndexViewModel


<div class="profile-header" style="background-image: url(/img/iceland.jpg);">
    <div class="container">
        <div class="container-inner">
            <img class="rounded-circle media-object" src="/img/avatar-dhg.png">
            <h3 class="profile-header-user">Dave Gamache</h3>
            <p class="profile-header-bio">
                I wish i was a little bit taller, wish i was a baller, wish i had a girl… also.
            </p>
        </div>
    </div>

    <nav class="profile-header-nav">
        <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="#">Photos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Others</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Anothers</a>
            </li>
        </ul>
    </nav>
</div>

<div class="container my-4" data-grid="images">
    <div>
        <img data-width="640" data-height="400" data-action="zoom" src="../img/instagram_5.jpg">
    </div>

    <div>
        <img data-width="640" data-height="640" data-action="zoom" src="../img/instagram_6.jpg">
    </div>

    <div>
        <img data-width="640" data-height="640" data-action="zoom" src="../img/instagram_7.jpg">
    </div>

    <div>
        <img data-width="640" data-height="640" data-action="zoom" src="../img/instagram_8.jpg">
    </div>

    <div>
        <img data-width="640" data-height="640" data-action="zoom" src="../img/instagram_9.jpg">
    </div>

    <div>
        <img data-width="640" data-height="640" data-action="zoom" src="../img/instagram_10.jpg">
    </div>

    <div>
        <img data-width="640" data-height="400" data-action="zoom" src="../img/instagram_11.jpg">
    </div>

    <div>
        <img data-width="640" data-height="640" data-action="zoom" src="../img/instagram_12.jpg">
    </div>

    <div>
        <img data-width="640" data-height="400" data-action="zoom" src="../img/instagram_13.jpg">
    </div>

    <div>
        <img data-width="640" data-height="640" data-action="zoom" src="../img/instagram_14.jpg">
    </div>

    <div>
        <img data-width="640" data-height="640" data-action="zoom" src="../img/instagram_15.jpg">
    </div>

    <div>
        <img data-width="640" data-height="640" data-action="zoom" src="../img/instagram_16.jpg">
    </div>

    <div>
        <img data-width="640" data-height="640" data-action="zoom" src="../img/instagram_17.jpg">
    </div>

    <div>
        <img data-width="640" data-height="640" data-action="zoom" src="../img/instagram_18.jpg">
    </div>

    <div>
        <img data-width="640" data-height="400" data-action="zoom" src="../img/instagram_1.jpg">
    </div>

    <div>
        <img data-width="640" data-height="640" data-action="zoom" src="../img/instagram_2.jpg">
    </div>
</div>