<div class="container my-4" data-grid="images">
    <div>
        <img data-width="640" data-height="400" data-action="zoom" src="../img/instagram_5.jpg">
    </div>

    <div>
        <img data-width="640" data-height="640" data-action="zoom" src="../img/instagram_6.jpg">
    </div>

    <div>
        <img data-width="640" data-height="640" data-action="zoom" src="../img/instagram_7.jpg">
    </div>

    <div>
        <img data-width="640" data-height="640" data-action="zoom" src="../img/instagram_8.jpg">
    </div>

    <div>
        <img data-width="640" data-height="640" data-action="zoom" src="../img/instagram_9.jpg">
    </div>

    <div>
        <img data-width="640" data-height="640" data-action="zoom" src="../img/instagram_10.jpg">
    </div>

    <div>
        <img data-width="640" data-height="400" data-action="zoom" src="../img/instagram_11.jpg">
    </div>

    <div>
        <img data-width="640" data-height="640" data-action="zoom" src="../img/instagram_12.jpg">
    </div>

    <div>
        <img data-width="640" data-height="400" data-action="zoom" src="../img/instagram_13.jpg">
    </div>

    <div>
        <img data-width="640" data-height="640" data-action="zoom" src="../img/instagram_14.jpg">
    </div>

    <div>
        <img data-width="640" data-height="640" data-action="zoom" src="../img/instagram_15.jpg">
    </div>

    <div>
        <img data-width="640" data-height="640" data-action="zoom" src="../img/instagram_16.jpg">
    </div>

    <div>
        <img data-width="640" data-height="640" data-action="zoom" src="../img/instagram_17.jpg">
    </div>

    <div>
        <img data-width="640" data-height="640" data-action="zoom" src="../img/instagram_18.jpg">
    </div>

    <div>
        <img data-width="640" data-height="400" data-action="zoom" src="../img/instagram_1.jpg">
    </div>

    <div>
        <img data-width="640" data-height="640" data-action="zoom" src="../img/instagram_2.jpg">
    </div>
</div>