@model Aiursoft.Blog.Views.Shared.Components.ProfileCard.ProfileCardViewModel

 <div class="card card-profile mb-4 mt-5 d-none d-lg-block">
    <div class="card-body">
        <a href="profile/index.html">
            <img class="card-profile-img" src="/img/avatar-dhg.png">
        </a>
        <h6 class="card-title">
            <a class="text-inherit" href="profile/index.html">@Model.NickName</a>
        </h6>
        <p class="mb-4">@Model.Bio</p>
    </div>
</div>