@{
    ViewData["Title"] = "404 Not found";
}

<div class="container-fluid container-fill-height">
    <div class="container-content-middle">
        <form role="form" class="mx-auto text-center app-login-form">

            <h1 class="text-danger">404 - Not found</h1>
            <h3>The target url you view is not found.</h3>
            <p>Sorry about it. The target URL you viewed is not found..</p>

            <div class="mb-5">
                <a class="btn btn-primary" asp-controller="Auth" asp-action="GoAuth">Log In</a>
                <a class="btn btn-secondary" asp-controller="Auth" asp-action="GoRegister">Sign up</a>
            </div>

            <footer class="screen-login">
                <a asp-controller="Home" asp-action="Index" class="text-muted">Back to home</a>
            </footer>
        </form>
    </div>
</div>